*,
html,
body {
    margin: 0;
    padding: 0;    
}

body{
    overflow-x: hidden;
}

:root {
    --txt-primary: white;
    --txt-title: orange;
    --txt-secondary: gray;
}

/* h1{
    font-family: 'Bebas Neue';
    font-size: 80px;
    font-weight: bold;
} */

h2 {
    font-family: 'Bebas Neue';
    font-size: 36px;
    font-weight: bold;
}

/* h3 {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: bold;
} */

.font-body {
    font-family: 'Open Sans';
    font-size: 18px;
}

.font-subText {
    font-family: 'Open Sans';
    font-size: 14px;
}

.font-mainButton {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
}

.font-navigation {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
}

.main-container {
    background-image: url(../img/main-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-top {
    /* background-color: rgb(0, 255, 255,.1); */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--txt-primary);
}

.main-top h1 {
    font-family: Arial;
    font-size: 72px;
    font-weight: 700;
    padding: 10px;
}

.main-top h3 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 10px;
}

.main-bottom {
    /* background-color: rgba(255, 0, 0, .1); */
    width: 100%;
    height: 10%;
    color: var(--txt-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choice-container {
    background-image: url(../img/the-games-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
}

.choice-left {
    /* background-color: rgba(0, 255, 255, .1); */
    width: 30%;
    height: 35%;
    color: var(--txt-primary);
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* align-items: end;     */
    padding-left: 30px;
}

.choice-left h3 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.choice-left h1 {
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: left;
}

.choice-right {
    /* background-color: rgba(0, 255, 13, 0.1); */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.feature-container {
    background-image: url(../img/features.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.feature-content {
    /* background-color: rgba(0, 255, 255, .1); */
    width: 40%;
    height: 100%;
    color: var(--txt-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-content h3 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
}

.feature-content h1 {
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 3px;
    text-align: left;

}

#accordion {
    padding-top: 50px;
}

.accordion-title {
    color: var(--txt-title);
    text-decoration: none;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
}

.accordion-title::before{
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url(../img/ellipse.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
}

.accordion-body {
    /* background-color: aqua; */
    width: 100%;
    height: 100px;
}

.requirement-container {
    background-image: url(../img/requirements.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.requirement-top-holder {
    /* background-color: rgb(255, 0, 212,.1); */
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requirement-top-1 {
    color: var(--txt-primary);
}

.requirement-title-holder {
    /* background-color: rgb(0, 247, 255,.1); */
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 25px;
}

.requirement-title-1 {
    color: var(--txt-primary);
    font-size: 80px;
}

.requirement-box-holder {
    /* background-color: rgb(0, 0, 255,.1); */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 25px;
}

.requirement-box-row {
    display: flex;
    width: 100%;
    height: 33%;
}

.requirement-box-1 {
    /* background-color: rgb(185, 145, 93,.1); */
    width: 50%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.requirement-box-2 {
    /* background-color: rgb(185, 145, 93,.1); */
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.requirement-box-title {
    color: var(--txt-title);
    margin-left: 10px;
    margin-top: 10px;
}

.requirement-box-desc {
    color: var(--txt-primary);
    font-size: 15px;
    margin-left: 10px;
}

.topscore-container {
    background-image: url(../img/top-score-bg.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
}

.topscore-left {
    /* background-color: rgb(0, 255, 255 ,.1); */
    color: var(--txt-primary);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topscore-left-content {
    /* background-color: rgb(60, 255, 0,.1); */
    width: 50%;
    display: row;
    justify-content: start;
    align-items: center;
}

.topscore-right {
    /* background-color: rgb(0, 0, 255,.1); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.topscore-right-rowHolder {
    /* background-color: rgba(255, 0, 0, .1); */
    width: 100%;
    height: 75%;
}

.topscore-right-row {
    /* background-color: rgb(255, 192, 203,.1);    */
    width: 100%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topscore-card-1 {
    background-color: rgb(46, 46, 46);
    width: 45%;
    height: 95%;
    border-radius: 10px;
    margin-left: 25%;
    /* margin-top: 10%; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.topscore-card-2 {
    background-color: rgb(46, 46, 46);
    width: 45%;
    height: 95%;
    border-radius: 10px;
    margin-right: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topscore-card-3 {
    background-color: rgb(46, 46, 46);
    width: 45%;
    height: 95%;
    border-radius: 10px;
    margin-left: 25%;
    /* margin-bottom: 10%; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.topscore-card-template {
    /* background-color: rgb(0, 255, 255,.1);     */
    width: 95%;
    height: 95%;

    /* display: flex;
    flex-direction: row; */
}

.card-temp-row1 {
    /* background-color: rgb(127, 255, 0,.1); */
    width: 100%;
    height: 50%;

    display: flex;
}

.card-temp-row2 {
    /* background-color: rgb(255, 0, 0,.1); */
    width: 100%;
    height: 30%;
}

.card-temp-row3 {
    /* background-color: rgb(17, 0, 255,.1); */
    width: 100%;
    height: 20%;
}

.card-temp-photo {
    /* background-color: rgb(127, 255, 0,.1); */
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-temp-namerole {
    /* background-color: rgb(255, 0, 0,.1); */
    width: 70%;
    height: 100%;
    /* display: inline-block; */
    /* flex-direction: column; */
}

.card-temp-socmedicon {
    /* background-color: rgb(17, 0, 255,.1); */
    width: 10%;
    height: 100%;
}

.topscore-card-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px orange;
}

.topscore-card-name {
    color: var(--txt-title);
    font-size: 20px;
    /* margin-left: 10px; */
    /* margin-top: 20px;     */
    margin: 0px 10px;
}

.topscore-card-role {
    color: var(--txt-secondary);
    font-size: 15px;
    margin-left: 10px;
    padding: 0%;
}

.topscore-card-review {
    font-size: 15px;
    color: var(--txt-primary);
}

.topscore-card-date {
    font-size: 13px;
    color: var(--txt-secondary);
}

.newsletter-container {
    background-image: url(../img/newsletter.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
}

.newsletter-left {
    /* background-color: rgba(255, 0, 179, 0.1); */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.newsletter-left-img {
    background-image: url(../img/skull.png);
    width: 70%;
    height: 100%;
}

.newsletter-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.newsletter-right-top {
    /* background-color: rgb(0, 255, 255,.1); */
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    color: var(--txt-primary);
}

.newsletter-right-bottom {
    /* background-color: rgba(128, 255, 0, .1); */
    width: 100%;
    height: 35%;
}

.footer-container {
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 90%;
}

.footer-top {
    width: 100%;
    height: 30%;
    border-bottom: solid 1px white;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-bottom {
    width: 100%;
    height: 70%;
    display: flex;
}

.footer-bottom-left {
    width: 50%;
    color: var(--txt-secondary);
}

.footer-bottom-right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.footer-button {
    color: var(--txt-primary);
    text-decoration: none;
    padding: 20px;
}

@media (max-width: 992px) {

    /* PAGE MAIN */
    .main-top h1 {
        font-size: 30px;
    }

    .main-top h3 {
        font-size: 20px;
    }

    /* PAGE CHOICE */
    .choice-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .choice-left {
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 40%;
        padding: 0;
    }

    .choice-right {
        align-items: baseline;
        justify-content: center;
        width: 100%;
        height: 60%;
    }

    /* PAGE FEATURE */
    .feature-container {
        justify-content: center;
        align-items: center;
    }

    .feature-content {
        width: 70%;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        padding: 10px;
    }

    .feature-content h1{
        font-size: 40px;
    }

    .accordion-title{
        font-size: 18px;
    }

    /* PAGE REQUIREMENT */
    .requirement-title-holder {
        margin-left: 20px;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }

    .requirement-title-1 {
        font-size: 50px;
    }

    .requirement-box-holder {
        width: 90%;
        margin: 5%;
    }

    /* PAGE TOPSCORE */
    .topscore-container {
        flex-direction: column;
    }

    .topscore-left {
        width: 100%;
        height: 30%;
    }

    .topscore-left-content {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topscore-right {
        align-items: flex-start;
        width: 100%;
        height: 70%;
    }

    .topscore-right-rowHolder {
        height: 100%;
    }

    .topscore-card-1 {
        width: 70%;
        height: 80%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .topscore-card-2 {
        width: 70%;
        height: 80%;
        margin-left: 0;
        margin-right: 0;
    }

    .topscore-card-3 {
        width: 70%;
        height: 80%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .topscore-card-date {
        text-align: right;
    }

    /* PAGE NEWSLETTER */
    .newsletter-left {
        width: 0;
    }

    .newsletter-left-img {
        background-image: none;
    }

    .newsletter-right {
        width: 100%;
    }

    .newsletter-right-top {
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .newsletter-right-bottom {
        text-align: center;
    }

    /* FOOTER */
    .footer-top a {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom-left {
        width: 100%;
        height: fit-content;
    }

    .footer-bottom-right {
        width: 100%;
        font-size: 12px;
        justify-content: center;
    }

}